
/*ESTILIZÇÃO PARA O BOX-MODEL*/
div {
    background-color: aliceblue;
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 50px;
}

/*---------------------------------------------------*/


/*ESTILIZAÇAO PARA PSEDO-CLASSES E PSEDO-ELEMENTOS*/

/*PSEDO-CLASSES*/
a {
    text-decoration: none;  /*remove a decoraçao do link*/
}

a:link { /*quando um link ainda não foi visitado, ele ira aparecer na cor aqui definida*/
    color: coral; 
}

a:hover { /*altera a cor do link quando passamos o mouse em cima*/
    color: red;
    font-weight: bold;
}

a:visited { /*quando um link ja foi visitado, ele ira aparecer na cor aqui definida*/
    color: green;
}

.p-class input:required {
    background-color: lawngreen;
}

.p-class input:disabled {
    background-color: indigo;
}

.p-class input:read-only {
    background-color: hotpink;
}



/*PSEDO-SELETORES*/
.p-class h2:first-child { 
    color: blueviolet;
}

.p-class h3:nth-child(2) {
    color: palevioletred;
}

.p-class label:last-child {
    color: blue;
}



/*PSEDO-ELEMENTOS*/
.p-element h2::before {
    content: url(/modulos/modulo-1/capitulos/capitulo3-css-estilos-e-animacoes/images/icon.png);
}

.p-element h2::after {
    content: url(/modulos/modulo-1/capitulos/capitulo3-css-estilos-e-animacoes/images/icon-2.png);
}

.p-element p::first-letter {
    font-size: 1.5rem;
    color: goldenrod;
}

.p-element p::first-line {
    color: greenyellow;
}