<h4>Tarefas</h4>
<table>
  <tr *ngFor="let task of tasks; let i = index">
    <td><input type="checkbox" [checked]="task.done"></td>
    <td>{{task.description}}</td>
    <td><button (click)="deleteTask(i)">Excluir</button></td>
  </tr>
</table>

<div>
  <input #inputDescription type="text" placeholder="Descrição da tarefa" />
  <button (click)="addTask(inputDescription.value)">Adicionar tarefas</button>
</div>
<br>
<div [ngSwitch]="tasks.length">
  <div *ngSwitchCase="0">Nenhuma tarefa</div>
  <div *ngSwitchCase="1">Uma tarefa</div>
  <div *ngSwitchDefault>{{tasks.length}} tarefas</div>
</div>
