/*SKIN*/
.theme-light {
    color: slategray;
    background-color: lightgoldenrodyellow;
    border: 1px;
}

.theme-success {
    background-color: greenyellow;
}

.theme-fail {
    background-color: lightcoral;
}

/*ESTRUTURA*/
body {
    width: 350px;
    margin: 0 auto;
}

header {
    text-align: center;
}

.card {
    max-width: 350px;
    padding: 10px;
}

.description {
    text-align: center;
}

.image {
    max-width: 300px;
    margin-left: 20px;
}

.buttons-cnt {
    margin: 5px 0 5px 20px;
}

button {
    padding: 5px;
}